*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(images/photo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
nav > h2 {background-color: palevioletred;
    color: bisque;
    size: 100px;
    font-size: x-large;
    padding: 10px;
}
nav{ 
    display: flex;
    justify-content: space-between;
    background-color: palevioletred;
    align-items: ;
    list-style: none;
    align-items: center;
    padding: 10px;
}
div li a {
    text-decoration: none;
    color: bisque;
    display: inline-block;
}
div li{
    display: inline-block;
    padding: 1em;
    text-size-adjust: 10px;
    font-size: x-large;
    font-style: oblique;
}
div li a:hover {
    font-weight: 600;
    
}
header{ 
    text-align: center;
    margin: 350px;
    margin-top: 200px;
    font-size: x-large;
    color: palevioletred;
}
#About {
    font-size: x-large;
    text-decoration-line: none;
    margin: 100px;
    display: flex;
    color:palevioletred;
    
}

.about-img {
    width: 2000px;
    height: 300px;
    padding-left: 10px;
    object-fit: contain;
    
}

.about-img img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

section>h2 {
color: palevioletred;
font-size: xx-large;
padding: 20px;

}

article>h3 {
    font-size: x-large;
    text-decoration-line: underline;
    margin: 80px;
    display: flex;
    color: palevioletred;
    margin-bottom: 10px;
}
article>p {
    font-size: larger;
    margin: 80px;
    margin-top: 50px;
    color: palevioletred;
}
article>a{
    margin: 80px;
    color: plum;
    text-decoration: none; 
    font-weight: 600;
}
section>h4{
    color: palevioletred;
    font-size: xx-large;
    text-align: center;
    margin: 100px

}
ul{

color: goldenrod;
font-size: xx-large;
grid-template-columns: repeat(3, 1fr);
gap: 2px;
border: 1px solid palevioletred;
padding: 20px;
text-align: center;
background-color: palevioletred;
margin: 20px;



}
.container{
background-color: goldenrod;
display: grid;
color: black;

}
 .Skills{
    background-color: blanchedalmond;
text-decoration: none;
color: palevioletred;

 }
 
 .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: 1px ;
    border-radius: 50%;
    font-size: 18px;
    background-color: palevioletred;
    margin-right: 20px;
    text-decoration-line: none;
 }
 .contact-box{
    font-size: x-large;
    text-decoration: none;
    gap: 50px;
    background-color: palevioletred;

 }
 footer{
   
    text-align: center;
    font-size: xx-large;
    color: white;
    margin: 100px;
    border: solid palevioletred;
    background-color: palevioletred;

 }
